<footer>
    <ul>
        <li class="active"><i class="fas fa-square"></i>Vandaag</li>
        <li><i class="fas fa-comment"></i>Praten</li>
        <li><i class="fas fa-tint"></i>Drops</li>
        <li><i class="fas fa-user"></i>Profiel</li>
    </ul>
</footer> 
</body>
</html>