{% render 'partials/head.liquid' %}

<ul>
    <a href="het-verlies-aanvaarden">
    <li><img class="thumb" src="assets/Het verlies aanvaarden.png"><br>Het verlies aanvaarden</li>
    </a>
</ul>

{% render 'partials/foot.liquid' %}